.form-container {
	padding: 50px;
	margin: 2em 0;
	h6 {
		font-weight: 700;
	}
	input {
		height: 46px;
    	margin-right: 10px;
    	min-width: 38%;
    	padding: 10px;
    	font-family: $stack-opensans;
	}
	label {
		display: none;
	}
	input[type="submit"] {
		border: 1px solid #000;
    	background: #000;
    	color: white;
    	min-width:110px;
    	display: inline-block;
	}
}


.subscribe-form-box {
    background-color: $black;
    position: relative;
    margin-top: 80px;
    &:after { 
        content: "";
        // background: url('../assets/img/subscribe-form.png');
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    @media screen and #{$brk-narrow} {
        margin-top: 0;
    }
}