.about-header {
	cursor: pointer;
}

.play-btn {
	width: 80px;
	position: absolute;
    top: 46%;
    z-index: 99;
    left: 46%;
    @media screen and #{$brk-narrow} {
    	display: none;
    }
}
.movie-content-box {
	position: relative;
}
.author-thumb {
	width: 120px;
	height: 120px;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
	@media screen and #{$brk-wide} {
		margin: 0 auto;
		float: none !important;
	}
}
.headshots-all {
	.col-1-4 {
		margin-bottom: 2em;
		.each-shot {
			width: 100%; 
			height: 140px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	@media screen and #{$brk-wide} {
		.col-1-4 {
			margin-bottom: 0;
			padding: 20px;
		}
		
	}
	
}
.leads-all {
	h3 {
		margin-top: 0;
    	margin-bottom: 2em;
	}
	.col-3-12 .lead-shot {
		width: 150px;
		height: 140px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media screen and #{$brk-tablet-min} and #{$brk-wide} {
		.col-3-12 .lead-shot {
			margin: 0 auto;
		}
	}
	@media screen and #{$brk-wide} {
		.grid {
			padding: 20px;
		}
		.col-3-12 .lead-shot {
			float: none !important;
    		display: block;
		}
	}
}
.subscribe-cta {
	padding: 2em;
    border: 1px solid #CE2724;
    border-radius: 12px;
    @media screen and #{$brk-narrow} {
    	float: none !important;
    }
}
.features-list {
	padding-left: 0;
	li {
		background: url(../assets/img/checkmark.svg) no-repeat 6px 4px transparent;
    	list-style-type: none;
    	margin: 0;
    	padding: 0px 0px 1px 50px;
    	vertical-align: middle;
	}
}
.subscribe-box {
	ul li {
		img {
			width: 50px;
	    	display: inline-block;
	    	vertical-align: middle;
	    	float: left;
		}
		p {
			display: inline;
			vertical-align: middle;
		}
		@media screen and #{$brk-narrow} {
			margin: 15px 15px 15px 0;
		}
	}
	@media screen and #{$brk-narrow} {
		ul {
			padding-left: 0;
		}
	}
}

.leader {
	margin-bottom:30px;
}
