<nav>

<!-- Nav start  -->
<nav class="navbar bg-black aligner">
    <div class="flex-item-left nav-logo">
        <a href="/">
            <h1 style="text-indent: -99999px;">The Fuel</h1>
            <img src="/assets/img/logo.png" class="logo">
        </a>
    </div>
    <!-- <div class="flex-item-right no-padding nav-search">
        <form action="">
            <input class="bg-black" type="search" name="search" placeholder="Search website">
            <img src="/assets/img/magnifying-glass.svg" class="search-icon">
        </form>
    </div> -->
    <div class="flex-item-right no-padding nav-login">
        <p class="caps color-white"></p>
    </div>
    <div class="flex-item-right no-padding">
        <p class="button red skewed menuIcon"><img src="/assets/img/menu.svg" class="menu-icon"><a href="">Menu</a></p>
    </div>
</nav>
<div class="menu-content">
    <ul>
        <li><a href="/"><p>Home</p></a></li>
        <li><a href="/about"><p>About</p></a></li>
        <li><a href="/faq"><p>FAQ</p></a></li>
    </ul>
</div>

<!-- end nav  -->

</nav>
 