---
layout: default
---

<header>
    <section class="clearfix full-img aligner story" style="background-image: url('{{page.contentful_fields.heroImage.file.url}}');">
         <div class="slider-overlay">
            <div class="overlay-content">
                <h2>{{page.contentful_fields.title}}</h2>
                <h6>{{page.contentful_fields.subtitle}}</h6>
            </div>
        </div>
    </section>
</header>
<div class="sigle-story-content">
    <section>
        <div class="grid">
            <div class="col-2-12">
                <div class="share-btns">
                    <a target="_blank" href="https://www.facebook.com/sharer.php?u={{site.url }}/{{ blogpost.url }}">
                        {% include svg-blog-facebook.html %}
                    </a>
                    <a href="https://twitter.com/intent/tweet?text={{ page.contentful_fields.title }}&amp;url={{ site.url }}/story/{{ page.contentful_fields.title | slugify }}&amp;via={{ site.twitter_username }}" rel="nofollow" title="Share on Twitter">
                        {% include svg-blog-twitter.html %}
                    </a>
                    <a href="mailto:?&amp;body={{ blogpost.title }}%20{{ site.url }}/{{ blogpost.url }}">
                        {% include svg-blog-email.html %}
                    </a>
                </div>
            </div>
            <div class="col-8-12 no-padding story-content">
                <p class="big">{{page.contentful_fields.contentAboveNewsletter | markdownify }}</p>
                
                {% if page.contentful_fields.factBox %}
                <blockquote class="fact-box">
                  <p>{{ page.contentful_fields.factBox }}</p>
                </blockquote>
                {% endif %}

                <div class="subscribe-form">
                   {% include mailchimp.html %}
                 </div>
                {{page.contentful_fields.contentBelowNewsletter | markdownify}}
            </div>
        </div>
    </section>
    <section class="bg-beige spacing">
        <div class="grid">
            <div class="col-10-12 center no-padding">
                <h5 class="no-margin-top">If you liked this, then check out:</h5>
            </div>
        </div>
        <div class="grid similar-posts">
            <div class="col-10-12 center storiesCarousel no-padding">
                {% for story in site.data.contentful.spaces.proddata.story limit: 3 %}
                    {% if story.title != page.contentful_fields.title %}
                        <a href="/story/{{story.title | slugify }}">
                        <div class="col-1-3 tablet-col-1-2">
                            <img src="{{story.heroImage.url}}">
                            <p class="t-font">{{story.title}}</p>
                            <p>{{story.subtitle}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>  
    </section>
</div>

